.site-header {
  background-color: #FF5722;
}
.site-header {

  img.logo {
    height: 56px;
    float: left;
    margin-right: 12px;
  }
  .wrapper {
    h1 {
      margin-bottom: 0px;
    }
  }
}

.site-title, .site-title:visited {
  font-weight: 400;
  color: white;
}