.dashboard {
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .control {
      margin-left: $spacing-unit;

      .time {
        font-weight: bold;
      }
    }

    @include media-query($on-palm) {
      .label {
        min-width: 60px;
        display: inline-block;
      }

      .duration {
        display: inline-block;
      }

      .control {
        width: 100%;
      }
    }
  }
}