.dashboard {
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .control {
      margin-left: $spacing-unit;

      .time {
        font-weight: bold;
      }
    }

    @include media-query($on-palm) {
      .label {
        min-width: 60px;
        display: inline-block;
      }

      .duration {
        display: inline-block;
      }

      .control {
        width: 100%;
      }
    }
  }

  .chart-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 170px;
    vertical-align: middle;
    overflow: hidden;

    svg {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;

      .chart-axis {
        stroke: $text-color;
      }

      .axis-label {
        font-size: $base-font-size * 0.625;
      }
    }

    .bar {
      fill: cornflowerblue;
    }
  }
}