.schedule {
    display: flex;
    flex-wrap: wrap;

    .day {
        flex: 1 1 0;
        width: 0;
        min-width: 100px;
        border: 1px solid $grey-color-dark;
        padding: $spacing-unit/4;
        margin: $spacing-unit/2 $spacing-unit/2 0 0;

        h2 {
            font-size: medium;
        }

        .minutesPastHour30 {
            border-top: 1px solid $grey-color-light;
        }

        .minutesPastHour0 {
            border-top: 1px solid $grey-color;

        }

        .time:last-child() {
            border-bottom: 1px solid $grey-color;
        }
    }
}