
meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1.0')

link(href='/styles/material-icons.css', rel='stylesheet')
link(href='/styles/bootstrap.min.css', rel='stylesheet')
link(href='/styles/main.css', rel='stylesheet')

script(src='/js/axios.min.js')